<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
       <extension
             point="org.muml.codegen.targetPlatformExtension">
          <targetPlatform
                class="org.muml.codegen.c.ui.export.C99SourceCodeExport"
                name="ANSI C99">
          </targetPlatform>
       </extension>
       <extension
             point="org.muml.codegen.targetPlatformExtension">
          <targetPlatform
                class="org.muml.codegen.c.ui.export.nxtOSEKSourceCodeExport"
                name="nxtOSEK">
          </targetPlatform>
       </extension>
</plugin>
